.html, body{
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow:auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #efefef;
  height: 70px;
}

.App-intro {
  font-size: large;
  /* equal to footer height */
}

.App-body{
  margin-top: 70px;
  min-height: calc(100vh - 150px);
  display: block;
  vertical-align: middle;
}

/*Website button styles*/
a {
  font-family: Playfair Display;
  text-decoration: none;
  margin-left: 15px;
}
button:focus, a:focus {
  outline:0;
}
input, button, submit, a {
  border:none;
  background-color: #efefef;
  color: #303030;
}
input:hover, button:hover, submit:hover, a:hover {
  cursor: pointer;
  color: Gray;
}
input:active, button:active, submit:active, a:active {
  transform: translateY(4px);
}
/*Navabar button styles*/
.navbar{
  width: 100%;
  height: 70px;
}
.navBtn {
  box-sizing: border-box;
  height: 100%;
  width: 19%;
  padding-bottom:  25px;
  font-family: Playfair Display;
  font-size: 15px;
  letter-spacing: .3em;
  padding-top: 25px;
}

/*Footer styles*/
.footer button{
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 15px;
}
.footer{
  box-sizing: border-box;
  padding-top: 20px;
  background-color: #efefef;
  height: 80px;
  width: 100%;
}
/*Home Page Styles*/
.hompage{
  width: 100%;
  height: calc(100vh - 150px);
}
.homeScreen{
  box-sizing: border-box;
  height: calc(100vh);
}
.homeSlides{
  display: none;
  box-sizing: border-box;
  background-size: cover;
  /*background-position: center;*/
  background-position: center 34%;
  margin-left: auto;
  height: calc(100vh - 150px);
  width: 65%;
  margin-right: auto;
}

.homepageTitle{
  margin-top: -.1px;
  opacity: .8;
  font-size: 60px;
  color: Gray;
  font-style: italic;
  font-family: cursive;
  width:100%;
  height: 55px;
}
.hometitle{
  font-family: 'Cormorant Upright';
  color: Gray;
}

/*About Page Styles*/
.about {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  height: calc(100vh);
}
.about h4{
  font-family: 'Cormorant Upright';
  font-size: 22px;
  font-style: italic;
}
.about h2{
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
.about p{
  color: Gray;
  line-height: 25px;
  text-align: left !important;
  font-size: 15px;
  font-family: 'Cormorant Upright';
}
/* Resume Page style */
.resumeBody{
  font-family: 'Cormorant Upright';
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left !important;
  width: 70%;
  min-height: calc(100vh - 170px);
}
.resumeElem{
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
  width: 100%;
  line-height: 5px;
}
.date{
  float: right;
}
.rolesList{
  line-height: 24px;
}

/* These styles are for the porfolio page*/
.portfolio {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  min-height: calc(100vh - 170px);
}
.portfolio h4{
  font-family: 'Cormorant Upright';
  font-size: 22px;
  font-style: italic;
}
.portfolio h2{
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
.portfolio p{
  color: Gray;
  line-height: 25px;
  text-align: left !important;
  font-size: 15px;
  font-family: 'Cormorant Upright';
}

.portImg{
  width: 100%;
}

/*Contact page*/
.contact{
  width: 60%;
  box-sizing: border-box;
  display: inline-block;
  min-height: calc(100vh - 150px);
}

.contact p{
  font-family: 'Cormorant Upright';
  text-align: left;
}

.contact h4{
  text-align: left;
  font-family: 'Cormorant Upright';
  font-size: 18px;
}

.contact h2{
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.admin {
  text-align: left;
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  height: calc(100vh);
}
.admin h2{
  text-align: center;
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
