.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow:auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  box-sizing: border-box;
  background-color: #efefef;
  height: 70px;
}

.App-intro {
  font-size: large;


  /* equal to footer height */
}

.App-body{
  min-height: calc(100vh - 170px);
  display: block;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*Website button styles*/
button:focus {
  outline:0;
}
input, button, submit {
  border:none;
  background-color: #efefef;
  color: #303030;
}
input:hover, button:hover, submit:hover{
  cursor: pointer;
  color: Gray;
}
input:active, button:active, submit:active{
  transform: translateY(4px);
}
/*Navabar button styles*/
.navbar button{
  font-family: Playfair Display;
  font-size: 15px;
  letter-spacing: .3em;
  padding-top: 20px;
  margin-left: 30px;
}

/*Footer styles*/
.footer button{
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 15px;
}
.footer{
  box-sizing: border-box;
  padding-top: 20px;
  background-color: #efefef;
  height: 100px;
  width: 100%;
}
/*Home Page Styles*/
.hompage{
  margin-left: auto;
  margin-right: auto;
}
.homeImg{
  vertical-align: middle;
  width: 100%;
}

/*About Page Styles*/
.about {
  margin-left: 200px;
  margin-right: 200px;
}
.about h4{
  font-family: 'Cormorant Upright';
  font-size: 22px;
  font-style: italic;
}
.about h2{
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
.about p{
  color: Gray;
  line-height: 25px;
  text-align: left !important;
  font-size: 15px;
  font-family: 'Cormorant Upright';
}
