.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow:auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #efefef;
  height: 70px;
}

.App-intro {
  font-size: large;


  /* equal to footer height */
}

.App-body{
  margin-top: 70px;
  min-height: calc(100vh - 170px);
  display: block;
  vertical-align: middle;
}

/*Website button styles*/
button:focus {
  outline:0;
}
input, button, submit {
  border:none;
  background-color: #efefef;
  color: #303030;
}
input:hover, button:hover, submit:hover{
  cursor: pointer;
  color: Gray;
}
input:active, button:active, submit:active{
  transform: translateY(4px);
}
/*Navabar button styles*/

.navBtn{
  height: 70px;
  padding-bottom:  20px;
}
.navbar button{
  font-family: Playfair Display;
  font-size: 15px;
  letter-spacing: .3em;
  padding-top: 20px;
  margin-left: 30px;
}

/*Footer styles*/
.footer button{
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 15px;
}
.footer{
  box-sizing: border-box;
  padding-top: 20px;
  background-color: #efefef;
  height: 100px;
  width: 100%;
}
/*Home Page Styles*/
.hompage{
  width: 100%;
  height: calc(100vh - 170px);
}
.homeSlides{
  display: none;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  height: calc(100vh - 170px);
  width: 70%;
  margin-right: auto;

  /*display: flex;
  display: -webkit-flex;
  align-items: center;
  position: relative;*/
}

.homepageTitle{
  margin-top: -.1px;
  opacity: .8;
  font-size: 60px;
  color: Gray;
  font-style: italic;
  font-family: cursive;
  width:100%;
  height: 55px;
}
.nextbtn, .backbtn{
  background-color: Transparent !important;
  font-family: fantasy;
  font-style: oblique;
  margin-top: 30px;
  color: gray;
  font-size: 20px;
}
.nextbtn{
  margin-right: 20px;
  float: right;
  font-size: 40px;
}
.backbtn {
  margin-left: 20px;
  float: left;
  font-size: 40px;
}

/*About Page Styles*/
.about {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
}
.about h4{
  font-family: 'Cormorant Upright';
  font-size: 22px;
  font-style: italic;
}
.about h2{
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
.about p{
  color: Gray;
  line-height: 25px;
  text-align: left !important;
  font-size: 15px;
  font-family: 'Cormorant Upright';
}
/* Resume Page style */
.resumeBody{
  font-family: 'Cormorant Upright';
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left !important;
  width: 70%;
  min-height: calc(100vh - 170px);
}
.resumeElem{
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
  width: 100%;
  line-height: 5px;
}
.date{
  float: right;
}
.rolesList{
  line-height: 24px;
}

/* These styles are for the porfolio page*/
.portfolio {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  min-height: calc(100vh - 170px);
}
.portfolio h4{
  font-family: 'Cormorant Upright';
  font-size: 22px;
  font-style: italic;
}
.portfolio h2{
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
.portfolio p{
  color: Gray;
  line-height: 25px;
  text-align: left !important;
  font-size: 15px;
  font-family: 'Cormorant Upright';
}

.portImg{
  width: 100%;
}
